<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:arc="http://arc.tees.ac.uk/"
 		id="http://arc.tees.ac.uk/widget/output/[@id]"
 		version="@[version]"
    width="@[width]"
    height="@[height]"
    viewmodes="windowed floating fullscreen"
    defaultlocale="en-gb"
    xml:lang="en-gb">
  <name short="@[template]">@[name]</name>
  <description>
    @[description]
    <span arc:role="persona">
      @[persona]
    </span>
    <span arc:role="scenario">
      @[scenario]
    </span>
  </description>
  <content src="index.html"/>
  <icon src="@[icon]"/>
  <author  href="http://arc.tees.ac.uk/" email="@[email]">@[author]</author>
  <license>
    @[licence]
    Creative Commons Non Commercial ShareAlike 3.0
    http://creativecommons.org/licenses/by-nc-sa/3.0/
  </license>
</widget>



