<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>@[name]</title>
        <!-- template and component stylesheet libraries @[_styles]-->
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" />
		<!-- main stylesheet -->
        <link rel="stylesheet" type="text/css" href="styles/main.css" />
		<!-- template and component javascript libraries @[_scripts]-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

		<!--for server: script type="text/javascript" src="http://arc.tees.ac.uk/WIDGaT/components/clock/analogClock/analog.js"></script-->
		<!--for server: script type="text/javascript" src="http://arc.tees.ac.uk/WIDGaT/components/input/sliderInput/slider.js"></script-->
        <script type="text/javascript" src="http://localhost:14443/widget/components/clock/analogClock/analog.js"></script>
        <script type="text/javascript" src="http://localhost:14443/widget/components/input/sliderInput/slider.js"></script>

        <!-- main Javascript file -->
        <script type="text/javascript" src="scripts/main.js"></script>
	</head>
	
    <body onload="init()">
    	<h1>@[name]</h1><br />
        <div id="ph1" class="placeholder">
        	@[placeholder1]
    	</div>
        <div id="ph2" class="placeholder">
        	@[placeholder2]
        </div>
        <div id="ph3" class="placeholder">
        	@[placeholder3]
        </div>
    </body>
</html>
